body {
    display: flex;
    flex-direction: column;
    margin: 0;
    justify-content: space-between;
    min-height: 100vh;

}

.buttonBox {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 55px;
    gap: 15px;
}

.buttonBox button {
    background-color: tomato;
    color: white;
    height: 25px;
    font-weight: bold;
}

.container {
    display: flex;
    flex-grow: 1;
    /* gap: 4px; */
    flex-wrap: wrap;
    flex-direction: column;
    border: 8px;
    border-style: solid;
    border-color: rgba(221, 221, 221, 0.66);
    align-self: center;
    aspect-ratio: 1/1;

    margin: 40px
}

.header {
    display: flex;
    height: auto;
    padding: 12px;
    background-color: tomato;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 40px;
    color: lightcyan;
}

.footer {
    height: 72px;
    background: #eee;
    color: darkmagenta;

    align-content: center;
    padding-left: 16px;
    text-align: center;
    margin-top: auto;
    flex-shrink: 0;
}