body {
    display: flex;
    flex-direction: column;
    margin: 0;
    justify-content: space-between;
    min-height: 100vh;


}

.gridBox {
    flex: 0 0 50px;
    width: 50px;
    height: 50px;
    background-color: khaki;

}

.container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 0;
    gap: 8px;
    flex-wrap: wrap;

    height: 73vh;
    max-width: 50px;
    padding-left: 150px;
    padding-right: 150px;
}

.header {
    display: flex;
    height: auto;
    padding: 12px;
    background-color: tomato;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 40px;
    color: lightcyan;
}

.footer {
    height: 72px;
    background: #eee;
    color: darkmagenta;

    align-content: center;
    padding-left: 16px;
    text-align: center;
    margin-top: auto;
    flex-shrink: 0;
}