body {
    display: flex;
    flex-direction: column;
    margin: 0;
    justify-content: space-between;
    min-height: 100vh;


}

.gridBox {
    flex: 0 0 22%;

    background-color: burlywood;
}

.container {
    display: flex;
    flex-grow: 1;
    gap: 4px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    width: 500px;
    padding: 50px
}

.header {
    display: flex;
    height: auto;
    padding: 12px;
    background-color: tomato;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 40px;
    color: lightcyan;
}

.footer {
    height: 72px;
    background: #eee;
    color: darkmagenta;

    align-content: center;
    padding-left: 16px;
    text-align: center;
    margin-top: auto;
    flex-shrink: 0;
}